body {
    padding-bottom: 50px;
}

.main-container {
    margin-top: 20px;
}


/*Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

small {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: cornflowerblue;
}

.casa {
    margin-left: 75%;
    align-self: center;
    width: 100px;
    height: 100px;
}


/*estrellas */

label {
    color: grey;
}

input[type="radio"] {
    display: none;
}

label:hover {
    color: orange;
}

.clasificacion {
    direction: rtl;
    /* right to left */
    unicode-bidi: bidi-override;
    /* bidi de bidireccional */
}

label:hover~label {
    color: orange;
}

input[type="radio"]:checked~label {
    color: orange;
}